<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up | By Code Info</title>
    <style>


    </style>
    <link rel="stylesheet" href="Css/style.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<div class="signup-box">
    <h1>Sign Up</h1>
    <h4>WELCOME</h4>
    <form>
        <label>Username</label>
        <input type="text" placeholder="" />
        <label>Password</label>
        <input type="password" placeholder="" />
        <label>Name</label>
        <input type="text" placeholder="" />
        <label for="gender"> Select you gender</label>
        <select name="gender">
            <option value="none" selected>Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">other</option>
        </select>
        <label for="role"> Select you role</label>
        <select name="role">
            <option value="Professor">Professor</option>
            <option value="University student">University student</option>

        </select>

        <input type="button" value="Submit" />
    </form>

    <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
    </p>
</div>
<p class="para-2">
    Already have an account? <a href="login.html">Login here</a>
</p>
</body>
</html>